# Java related
target/**
*.jar
*.class

# eclipse specific
.project
.metadata
bin/
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# mp3-Files
mp3/Bounce FM/*.mp3
mp3/Commercials/*.mp3
mp3/CSR 103.2/*.mp3
mp3/K-DST/*.mp3
mp3/K-Jah West/*.mp3
mp3/K-Rose/*.mp3
mp3/Master Sounds 98.3/*.mp3
mp3/Play Back FM/*.mp3
mp3/Radio Los Santos/*.mp3
mp3/Radio X/*.mp3
mp3/SF-UR/*.mp3

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# MacOS specific
**/.DS_Store
/target/
