# Java related
target/**
*.jar
*.class

# eclipse specific
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# mp3-Files
src/main/resources/Bounce FM/*.mp3
src/main/resources/Commercials/*.mp3
src/main/resources/CSR 103.2/*.mp3
src/main/resources/K-DST/*.mp3
src/main/resources/K-Jah West/*.mp3
src/main/resources/K-Rose/*.mp3
src/main/resources/Master Sounds 98.3/*.mp3
src/main/resources/Play Back FM/*.mp3
src/main/resources/Radio Los Santos/*.mp3
src/main/resources/Radio X/*.mp3
src/main/resources/SF-UR/*.mp3

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# MacOS specific
**/.DS_Store
/target/
